body{
    margin: 0;
    background-image: url("img/milky-way-2695569_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.container{
    background-color: white;
    min-height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.text-area{
    border: 1px solid lightgray;
}
.text-tabs{
    display: flex;
    border: 1px solid lightgray;
    position: relative;
}
.text-tabs div{
    padding: 1em;
}

#under-Line{
    height: 4px;
    background-color: lightpink;
    position: absolute;
    width: 48px;
    left: 0px;
    top: 52px;
    padding: 0px;
    transition: 0.4s;

}
.task{
    display: flex;
    justify-content: space-between;
}

.task-done{
    text-decoration: line-through;
}

.text-tabs div{
    cursor:pointer;
}